body{
  background-color: black;
}

input,
textarea, select{
  border: 1px solid white;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
input :hover{
 border: 2px solid white !important;
 
}

input,
textarea, select :focus{
  outline: none;
}
.boxWithBorder{
  border-color: rgb(229 231 235);
  border-radius: var(--borderRadius-medium);
  border-style: solid;
  border-width: var(--borderWidth-thin);
}
button{
  background-color: transparent;
}


